// .resourcesFeaturedContainer,
// .resourcesEbooksContainer,
// .resourcesPodcastsContainer, 
// .resourcesVideoContainer {
//     display: none;
// }


BEGIN CSS FOR FEATURED RESOURCES .resourcesContainer {
    /// WHY DOES COMMENTING THIS OUT RESULT IN ERROR?
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    max-width: 1240px;
    margin-top: 500px;

}

#primary-menu2 {
    margin-top: 130px;
}

.resourcesFeaturedContainer {

    display: grid;
    grid-template-areas: "video podcasts"
        "videos ebook"
        "blogs ebook"
    ;

    .featuredVideoContainer {
        grid-area: video;


    }

    .featuredVideosContainer {

        grid-area: videos;

        h5 {
            @include set-font-feat-titles-res;
        }

        .test {
            display: flex;
            justify-content: space-between;

            .singleFeaturedVideosContainer {
                width: 25%;

                iframe {
                    height: 101px;
                    border-radius: 25px;
                }

            }


        }
    }

    .featuredBlogContainer {
        grid-area: blogs;

        h5 {
            @include set-font-feat-titles-res;
        }

        .test2 {
            display: flex;
            justify-content: space-between;

            .singleFeaturedBlogContainer {
                width: 25%;

                a {
                    img {
                        height: 101px;
                        border-radius: 25px;
                    }
                }
            }
        }
    }

    .featuredPodcastsContainer {
        grid-area: podcasts;
        margin-left: 75px;

        h5 {
            @include set-font-feat-titles-res;
        }
    }

    .featuredEbookContainer {
        grid-area: ebook;
        margin-left: 75px;

        h5 {
            @include set-font-feat-titles-res;
        }

        .singleFeaturedEbookContainer {
            display: flex;

            a {
                width: 50%;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            p {
                padding: 40px 0;
            }
        }
    }
}

@media only screen and (max-width: 700px) {

    .resourcesFeaturedContainer {

        grid-template-areas: 'video'
            'videos'
            'blogs'
            'podcasts'
            'ebook';

        margin-top: 50px;

        .singleFeaturedVideoContainer {

            iframe {
                border-radius: 25px;
            }
        }



        .featuredVideosContainer {
            margin-top: 25px;
        }

        .featuredBlogContainer {
            margin-top: 25px;
        }

        .featuredPodcastsContainer {
            margin-top: 25px;
            margin-left: 0px;
        }

        .featuredEbookContainer {
            margin-left: 0px;
            display: grid;

            h5 {}

            .singleFeaturedEbookContainer {
                display: flex;
                // grid-template-areas: 'book meta';
                background-color: red;
                position: relative;

                a {

                    img {
                        height: 200px;
                        width: 130px;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: -150px;
                    }

                }

                p {
                    grid-area: meta;
                    width: 50%;
                    justify-content: right;
                    align-items: center;
                    display: flex;
                }
            }
        }
    }
}